@font-face {
    font-family: grand9k;
    src: url(grand9k_pixel/Grand9K\ Pixel.ttf);
}

*{
    font-family: grand9k;
    margin: 0;
    padding: 0;
}


body {
    font-family: grand9k;
    margin: 0;
}

/* Style the header */
.banner2{
    width: 100%;
    height: 180vh;
    background-image:linear-gradient(rgba(249, 149, 222, 0), rgba(4, 51, 20, 0.357)),
    url(flowerpinkhighqual.png);
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    /*header */
    padding: 0.1px;
    text-align: center;
    color: white; 
}

.banner{
    width: 100%;
    height: 180vh;
    background-image: linear-gradient(rgba(249, 149, 222, 0.71), rgba(9, 65, 72, 0.66)),
    url(cloudbg.png);
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    /*header */
    padding: 0.1px;
    text-align: center;
    color: white; 
}



/* Increase the font size of the h1 element */
.header h1 {
    font: grand9k;
    color: rgba(59, 18, 153, 0.75);
    font-size: 3vmax;
}

.para {
    font: grand9k;
    font-size: 2vmax;
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Style the top navigation bar */
.navbar {
    width: 100%;
    margin: auto;
    padding: 35px 0;
    font-size: 2vmax;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30;
}
/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}


/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.logo {
    width: 200px;
    cursor: pointer;
    transition-duration: 2s;

}

.recentposts {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    font-size: 2vmax;
    margin-left: auto;
    margin-right: auto;
    padding: 0.000000001px;
    background-size: cover;
    background-position: center;
   

    
    
}

.logobanner {
    width: 20%;
    height: 20%;
    display: block;
    text-align: center;
    font-size: 2vmax;
    margin-left: auto;
    margin-right: auto;
    padding: 0.000000001px;
    background-size: cover;
    background-position: center;
    
}

.secsq  {
    display: block;

}

.secrec {
    display: block;

}



.text1 {
    background-color: rgb(54, 175, 208);
    width: 100%;
    height: 10px;
    align-items: center;
}

.midpage1{
    background-image: linear-gradient(rgb(54, 175, 208),rgba(55, 239, 239, 0.801),rgba(70, 21, 70, 0)) ;
    width: 100%;
    height: 150px;
    align-self: auto;
}

.poem2{
    left: 20%;
}